body {
  line-height: 1.5;
}

a {
  color: teal;
}

h4 {
  font-weight: bold;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.light-bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

section {
  padding: 50px 0 60px 0;
}

.two-col-pic h2 {
  color: teal;
  margin-bottom: 50px;
  text-align: center;
}

.two-col-pic h3 {
  line-height: 1.7;
}

.two-col-pic .col-xs-6 i h3 {
  text-transform: capitalize;
}

.two-col-pic img {
  max-height: 300px;
  margin-top: 25px;
}

.two-col-pic .fa {
  text-align: center;
}

.img-bg {
  background-image: url("../images/placeholder-md.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-bg h2 {
  color: teal;
  margin-bottom: 50px;
  text-align: center;
}

.more-button {
  background-color: teal;
  border-radius: 4px;
  padding: 12px 35px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}

.empty-button {
  border: 2px solid #222;
  padding: 12px 35px;
  font-weight: bold;
  display: inline-block;
  color: #222;
  text-transform: uppercase;
}

.four-grid-hdr h2 {
  color: teal;
  margin-bottom: 50px;
  text-align: center;
}

.four-col-hdr h2 {
  color: teal;
  margin-bottom: 50px;
  text-align: center;
}

.four-col-hdr h4 {
  padding-bottom: 80px;
  line-height: 2em;
}

.four-pic-grid h2, .two-col-icon-pic h2 {
  color: teal;
  margin-bottom: 50px;
  text-align: center;
}

.img-pic-grid-1 {
  float: left;
  height: 180px;
  width: 250px;
  margin: 0 15px 40px 0;
  background-image: url("../images/10-small.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img-pic-grid-2 {
  float: left;
  height: 180px;
  width: 250px;
  margin: 0 15px 40px 0;
  background-image: url("../images/13-small.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img-pic-grid-3 {
  float: left;
  height: 180px;
  width: 250px;
  margin: 0 15px 40px 0;
  background-image: url("../images/46-small.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img-pic-grid-4 {
  float: left;
  height: 180px;
  width: 250px;
  margin: 0 15px 40px 0;
  background-image: url("../images/16-small.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.two-col-icon-pic i.fa {
  font-size: 30px;
  padding: 15px;
  border-radius: 30px;
  margin-top: 25px;
  background-color: teal;
  color: white;
}

.two-col-icon-pic img {
  float: left;
  height: 270px;
  width: 100%;
  margin: 0 15px 40px 0;
  background-image: url("../images/16.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgc-gray {
  background-color: #eee;
}

.service-grid-icon-1 {
  background-color: #003058;
  color: white;
  margin: 50px 0;
  padding: 50px 0;
  text-align: center;
}

.service-grid-icon-1 i.service-icon {
  font-size: 26px;
}

.service-grid-icon-1 .empty-button {
  border-color: white;
  color: white;
  font-size: 16px;
  padding: 3px 30px;
  margin: 0;
}

.service-grid-icon-1 h4 {
  text-transform: uppercase;
  font-weight: normal;
}

.service-grid-icon-2 {
  background-color: #01A0D8;
  color: white;
  margin: 50px 0;
  padding: 50px 0;
  text-align: center;
}

.service-grid-icon-2 i.service-icon {
  font-size: 26px;
}

.service-grid-icon-2 .empty-button {
  border-color: white;
  color: white;
  font-size: 16px;
  padding: 3px 30px;
  margin: 0;
}

.service-grid-icon-2 h4 {
  text-transform: uppercase;
  font-weight: normal;
}

.service-grid-icon-3 {
  background-color: #EE945F;
  color: white;
  margin: 50px 0;
  padding: 50px 0;
  text-align: center;
}

.service-grid-icon-3 i.service-icon {
  font-size: 26px;
}

.service-grid-icon-3 .empty-button {
  border-color: white;
  color: white;
  font-size: 16px;
  padding: 3px 30px;
  margin: 0;
}

.service-grid-icon-3 h4 {
  text-transform: uppercase;
  font-weight: normal;
}

.service-grid-icon-4 {
  background-color: #00E099;
  color: white;
  margin: 50px 0;
  padding: 50px 0;
  text-align: center;
}

.service-grid-icon-4 i.service-icon {
  font-size: 26px;
}

.service-grid-icon-4 .empty-button {
  border-color: white;
  color: white;
  font-size: 16px;
  padding: 3px 30px;
  margin: 0;
}

.service-grid-icon-4 h4 {
  text-transform: uppercase;
  font-weight: normal;
}

.service-icon-4 > .container-fluid.bgc-gray {
  padding-right: 0px;
  padding-left: 0px;
}
