body {
  line-height: 1.5;
}

a {
  color: teal;
}

.two-col-pic h2 {
  color: teal;
  margin-bottom: 50px;
  text-align: center;
}

.two-col-pic h3 {
  line-height: 1.7;
}

.two-col-pic .col-xs-6 i h3 {
  text-transform: capitalize;
}

.two-col-pic img {
  max-height: 300px;
  margin-top: 25px;
}

.two-col-pic .fa {
  text-align: center;
}
