//compileExpanded: ../css/style.css
@import "partials/vars";
@import "partials/mixins";
@import "partials/base";


// FEATURE-1
.feature-1 {
  i {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}

// FEATURE-2
.feature-2 {
  img.placeholder {
    @include img-bg('../images/placeholder-md.jpg',320px, 100%, cover);
  }
}

// FEATURE-3
.feature-3 {
  i {
    margin-bottom: 20px;
  }
}

// FEATURE-4
.feature-4 {
  i {
    @include icon-bg($primary, 10px, 30px, #fff);
  }
  img.placeholder {
    @include img-bg('../images/46.jpg', 320px, 100%, cover);
  }
}

// FEATURE-5
.feature-5 {
  text-align: center;
  img.placeholder {
    @include img-bg('../images/46.jpg', 320px, 100%, cover);
  }
  img.placeholder-1 {
    @include img-bg('../images/16.jpg', 320px, 100%, cover);
  }
  h3 {
    padding: 15px 0;
  }
  .empty-button {
    @include empty-button(#000, #000);
  }
}


// FEATURE-7
.feature-7 {
  .container-fluid {
    padding: 0;
  }
  .gray-bg {
    @include bgcolor(#eee);
    color: $primary;
    height: 400px;
    h3.quote {
      padding: 60px 25px 0 40px;
    }
    h3.author {
      padding: 15px 25px 0 40px;
      color: #000;
      text-transform: uppercase;
    }
  }
  img.placeholder {
    @include img-bg('../images/10.jpg', 400px, 100%, cover);
  }
}



.more-button {
  @include more-button($primary, #fff);
}
.empty-button {
  @include empty-button($black, $black) ;
}
.four-grid-hdr {
  h2 {
    @include primary-hdr;
  }
}
.four-col-hdr {
  h2 {
    @include primary-hdr;
  }
  i {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  h4 {
    line-height: 2em;
  }
}
.four-pic-grid h2, .two-col-icon-pic h2 {
    @include primary-hdr;
}
.img-pic-grid-1 {
  @include pic-grid(left, 180px, 250px, '../images/10-small.jpg', 50% 50% );
}
.img-pic-grid-2 {
  @include pic-grid(left, 180px, 250px, '../images/13-small.jpg', 50% 50% );
}
.img-pic-grid-3 {
  @include pic-grid(left, 180px, 250px, '../images/46-small.jpg', 50% 50% );
}
.img-pic-grid-4 {
  @include pic-grid(left, 180px, 250px, '../images/16-small.jpg', 50% 50% );
}

// two-col-icon-pic
.two-col-icon-pic {
  i.fa {
    @include two-col-icon(25px, teal, white);
  }
  img {
    @include pic-grid(left, 270px, 100%, '../images/16.jpg', center center );
    background-size: cover;
  }
}
.bgc-gray {
  @include bgcolor(#eee);
}
// SERVICES
.service-grid-icon-1 {
  @include service-grid-icon($service-blue, white, 50px, 50px);
}
.service-grid-icon-2 {
  @include service-grid-icon($service-light-blue, white, 50px, 50px);
}
.service-grid-icon-3 {
  @include service-grid-icon($service-orange, white, 50px, 50px);
}
.service-grid-icon-4 {
  @include service-grid-icon($service-light-green, white, 50px, 50px);
}
.service-icon-4 > .container-fluid.bgc-gray {
  padding-right: 0px;
  padding-left: 0px;
}
.service-icon-4 {
  h2 {
    @include primary-hdr;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-bottom: 40px;
  }
}
.service-icon-4 .lead-button {
  text-align: center;
  margin-bottom: 35px;
  h3 {
    display:inline-block;
    padding-right: 15px;
  }
}
