//compileExpanded: ../css/style.css
@import "partials/vars";
@import "partials/mixins";
@import "partials/base";

section {
  padding: 50px 0 60px 0;
}
.two-col-pic {
  @include two-col-pic;
}
.img-bg {
  @include img-bg('../images/placeholder-md.jpg', cover);
}
.more-button {
  @include more-button($primary, #fff);
}
.empty-button {
  @include empty-button($black, $black) ;
}
.four-grid-hdr {
  h2 {
    @include primary-hdr;
  }
}
.four-col-hdr {
  h2 {
    @include primary-hdr;
  }
  h4 {
    padding-bottom: 80px;
    line-height: 2em;
  }
}
.four-pic-grid h2, .two-col-icon-pic h2 {
    @include primary-hdr;
}
.img-pic-grid-1 {
  @include pic-grid(left, 180px, 250px, '../images/10-small.jpg', 50% 50% );
}
.img-pic-grid-2 {
  @include pic-grid(left, 180px, 250px, '../images/13-small.jpg', 50% 50% );
}
.img-pic-grid-3 {
  @include pic-grid(left, 180px, 250px, '../images/46-small.jpg', 50% 50% );
}
.img-pic-grid-4 {
  @include pic-grid(left, 180px, 250px, '../images/16-small.jpg', 50% 50% );
}

// two-col-icon-pic
.two-col-icon-pic {
  i.fa {
    @include two-col-icon(25px, teal, white);
  }
  img {
    @include pic-grid(left, 270px, 100%, '../images/16.jpg', center center );
    background-size: cover;
  }
}
.bgc-gray {
  @include bgcolor(#eee);
}
// SERVICES
.service-grid-icon-1 {
  @include service-grid-icon($service-blue, white, 50px);
}
.service-grid-icon-2 {
  @include service-grid-icon($service-light-blue, white, 50px);
}
.service-grid-icon-3 {
  @include service-grid-icon($service-orange, white, 50px);
}
.service-grid-icon-4 {
  @include service-grid-icon($service-light-green, white, 50px);
}
