
<section class="feature-13">
  <h2>We Love What We Do</h2>
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-6"><img class="placeholder"/></div>
      <div class="col-md-6">
        <div class="gray-bg">
          <h3 class="quote">" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cum distinctio mollitia dignissimos obcaecati harum fugiat molestiae, aperiam."</h3>
          <h3 class="author">John Doe <br> Founder and CEO of ACME</h3>
        </div>
      </div>
    </div>
  </div>
</section>