doctype
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset="UTF-8")
    title
      block title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
    
  

  body
    block content
      
    
    
    
    
    block scripts
      script(src='https://cdn.jsdelivr.net/jquery/1.9.1/jquery.min.js')
      script(src='https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js')
