//output:../index.html
extends templates/main-temp
include partials/mixins/blocks.jade
block title 
  | Website

block content
  include partials/features/img-bg.jade
  +four-col-hdr
  
block scripts
