//output:../index.html

extends templates/main-temp

block title 
  | Cool Website

block content
  include partials/features/feature-1.jade
  include partials/features/feature-2.jade
  include partials/features/feature-3.jade
  include partials/features/feature-4.jade
  include partials/features/img-bg.jade
  //include partials/features/feature-99.jade
  include partials/features/four-pic-grid.jade
  include partials/features/two-col-text-pic.jade
  include partials/features/service-1.jade
