
### Brackets ###
.brackets.json

### Other Files ###
test.html

### No Minification Please ###
css/style.min.css

### Markdown ###
*.md

### Images ###
*.jpg
*.psd
/images/*

### Prepros ###
*.config

# Created by https://www.gitignore.io/api/codekit,windows

### CodeKit ###
# General CodeKit files to ignore
config.codekit
/min

### Prepros ###
# Ignore config file
prepros-6.config

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

siteaddress.txt