section.feature-6
  h2 We Love What We Do
  .container
    .row
      .col-sm-4
        i.fa.fa-clock-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique fugiat ea.
      .col-sm-4
        i.fa.fa-heart-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ad placeat eligendi!
      .col-sm-4
        i.fa.fa-headphones.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio omnis, libero?
    .row
      .col-sm-4
        i.fa.fa-bell-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quisquam suscipit labore.
      .col-sm-4
        i.fa.fa-envelope-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, ea fugit accusantium!
      .col-sm-4
        i.fa.fa-star-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quam consequuntur rem.
      
