section.feature-6
<<<<<<< HEAD
  h2.text-center We Love What We Do
  .container
    .row
      .col-sm-4
        .row
          .col-xs-2
            i.fa.fa-book.fa-2x
          .col-xs-10
            h4 Lorem ipsum dolor
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
            a(href="#") Read More
      .col-sm-4
        .row
          .col-xs-2
            i.fa.fa-book.fa-2x
          .col-xs-10
            h4 Lorem ipsum dolor
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
            a(href="#") Read More
      .col-sm-4
        .row
          .col-xs-2
            i.fa.fa-book.fa-2x
          .col-xs-10
            h4 Lorem ipsum dolor
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
            a(href="#") Read More
    .row.margt-10
      .col-sm-4
        .row
          .col-xs-2
            i.fa.fa-book.fa-2x
          .col-xs-10
            h4 Lorem ipsum dolor
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
            a(href="#") Read More
      .col-sm-4
        .row
          .col-xs-2
            i.fa.fa-book.fa-2x
          .col-xs-10
            h4 Lorem ipsum dolor
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
            a(href="#") Read More
      .col-sm-4
        .row
          .col-xs-2
            i.fa.fa-book.fa-2x
          .col-xs-10
            h4 Lorem ipsum dolor
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
            a(href="#") Read More
    
    //-   .col-sm-4
    //-     i.fa.fa-book
    //-     h4 Lorem ipsum dolor
    //-     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
    //-     .empty-button Read More
    //-   .col-sm-4
    //-     i.fa.fa-book
    //-     h4 Lorem ipsum dolor
    //-     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
    //-     .empty-button Read More
    //- .row
    //-   .col-sm-4
    //-     i.fa.fa-book
    //-     h4 Lorem ipsum dolor
    //-     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
    //-     .empty-button Read More
    //-   .col-sm-4
    //-     i.fa.fa-book
    //-     h4 Lorem ipsum dolor
    //-     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
    //-     .empty-button Read More
    //- .row
    //-   .col-sm-4
    //-     i.fa.fa-book
    //-     h4 Lorem ipsum dolor
    //-     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
    //-     .empty-button Read More
    //-   .col-sm-4
    //-     i.fa.fa-book
    //-     h4 Lorem ipsum dolor
    //-     p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
    //-     .empty-button Read More
=======
  h2 We Love What We Do
  .container
    .row
      .col-sm-4
        i.fa.fa-clock-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam similique fugiat ea.
      .col-sm-4
        i.fa.fa-heart-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ad placeat eligendi!
      .col-sm-4
        i.fa.fa-headphones.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio omnis, libero?
    .row
      .col-sm-4
        i.fa.fa-bell-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quisquam suscipit labore.
      .col-sm-4
        i.fa.fa-envelope-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, ea fugit accusantium!
      .col-sm-4
        i.fa.fa-star-o.fa-2x
        div
          h4 Title Goes Here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quam consequuntur rem.
      
>>>>>>> 76f4503c6090ab29e2cd0104e683762e5af66f78
