section.feature-6
  h2.text-center We Love What We Do
  .container
    .row
      .col-sm-6
        img.img-pic-grid-1
        h4 Lorem ipsum dolor
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
        .empty-button Read More
      .col-sm-6
        img.img-pic-grid-2
        h4 Lorem ipsum dolor
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
        .empty-button Read More
    .row
      .col-sm-6
        img.img-pic-grid-3
        h4 Lorem ipsum dolor
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
        .empty-button Read More
      .col-sm-6
        img.img-pic-grid-4
        h4 Lorem ipsum dolor
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.
        .empty-button Read More
