section.feature-4
  h2 We Love What We Do
  .container
    .row
      .col-sm-6
        .row
          .col-xs-3
            i.fa.fa-clock-o
          .col-xs-9
            h4 Smooth &amp; Fluent
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique minus illo, a consectetur blanditiis.
          .col-xs-3
            i.fa.fa-star
          .col-xs-9
            h4 Loved By Thousands
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique minus illo, a consectetur blanditiis.
          .col-xs-3
            i.fa.fa-headphones
          .col-xs-9
            h4 Updates &amp; Support
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique minus illo, a consectetur blanditiis.
      .col-sm-6
        img
