section.feature-8
  h2 We Love What We Do!!
  .container
    .row
      .col-md-12
        h3 Lorem ipsum dolor sit amet, consec adipisi elit. Praesentium volupt, dolor. Elig nostrum, corpori iste dolorem quib delectus, magni sit odio, obcaecati rei labori ratione at necebus consectetur temporibus ipsam.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos perspiciatis, vitae officia amet autem ab accusamus a impedit praesentium expedita itaque! Modi nam nemo ipsum veniam inventore. Officia quaerat quisquam distinctio totam cupiditate, similique rem, assumenda deserunt, consequatur veritatis non blanditiis natus vel fugit, nostrum dolorum. Voluptatem, repellendus natus unde?
