section.feature-10
  .container
    .row
      h2 We Love What We Do
      .col-md-6
        .row
          .col-md-6
            img.placeholder
          .col-md-6
      .col-md-6 
        .row
          .col-md-6
          .col-md-6   
