section.feature-7
  h2 We Love What We Do
  .container-fluid
    .row.no-gutters
      .col-md-6
        img.placeholder 
      .col-md-6
        .gray-bg
          h3.quote " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque cum distinctio mollitia dignissimos obcaecati harum fugiat molestiae, aperiam."
          h3.author John Doe <br> Founder and CEO of ACME
