section.four-grid-hdr
  h2.text-center We Love What We do
  .container
    .row
      .col-sm-5
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      .col-sm-7
        .row
          .col-xs-6.text-center
            i.fa.fa-star-o.fa-2x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .col-xs-6.text-center
            i.fa.fa-headphones.fa-2x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .col-xs-6.text-center
            i.fa.fa-clock-o.fa-2x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .col-xs-6.text-center
            i.fa.fa-heart-o.fa-2x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
