
<section class="four-pic-grid">
  <h2 class="text-center">We Love What We do</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><img class="img-pic-grid-1"/>
        <h4>Lorem ipsum dolor</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.</p>
        <div class="empty-button">Read More</div>
      </div>
      <div class="col-sm-6"><img class="img-pic-grid-2"/>
        <h4>Lorem ipsum dolor</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.</p>
        <div class="empty-button">Read More</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"><img class="img-pic-grid-3"/>
        <h4>Lorem ipsum dolor</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.</p>
        <div class="empty-button">Read More</div>
      </div>
      <div class="col-sm-6"><img class="img-pic-grid-4"/>
        <h4>Lorem ipsum dolor</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, commodi. Perspiciatis, expedita.</p>
        <div class="empty-button">Read More</div>
      </div>
    </div>
  </div>
</section>