section.four-col-hdr
  h2.text-center We Love What We do
  h4.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .container
    .row
      .col-sm-3.text-center
        i.fa.fa-star-o.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      .col-sm-3.text-center
        i.fa.fa-headphones.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      .col-sm-3.text-center
        i.fa.fa-clock-o.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      .col-sm-3.text-center
        i.fa.fa-heart-o.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
