section.service-icon-4
  .container
    h2 We Love What We Do
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officia aliquam odio deleniti, culpa laudantium dignissimos vitae libero!
  .container-fluid.bgc-gray
    .row.no-gutters
      .col-sm-3
        .service-grid-icon-1
          i.service-icon.fa.fa-book
          h4 Lorem Ipsum
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptate?
          .empty-button
            i.fa.fa-arrow-right
      .col-sm-3
        .service-grid-icon-2
          i.service-icon.fa.fa-book
          h4 Lorem Ipsum
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptate?
          .empty-button
            i.fa.fa-arrow-right
      .col-sm-3
        .service-grid-icon-3
          i.service-icon.fa.fa-book
          h4 Lorem Ipsum
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptate?
          .empty-button
            i.fa.fa-arrow-right
      .col-sm-3
        .service-grid-icon-4
          i.service-icon.fa.fa-book
          h4 Lorem Ipsum
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptate?
          .empty-button
            i.fa.fa-arrow-right
  
