section.two-col-icon-pic
  h2 We Love What We Do
  .container
    .row
      .col-sm-6
        .row
          .col-xs-3
            i.fa.fa-book
          .col-xs-9
      
      
      
      
      
      
      .col-sm-6
