section.two-col-pic
  h2 We Love What We Do
  .container
    .row
      .col-sm-6
        h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eos, incidunt velit labore commodi iusto, culpa possimus porro minima saepe quam molestias voluptatibus officia inventore? 
        .row
          .col-xs-6
            i.fa.fa-book.fa-2x
            h3 Title Here
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, impedit.
          .col-xs-6  
            i.fa.fa-book.fa-2x
            h3 Title Here
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, impedit.
      .col-xs-6
        img(src="images/placeholder-md.jpg", class="hidden-xs", alt="Photo")
