section.feature-5
  h2 We Love What We Do
  .container
    .row
      .col-3
        i.far.fa-star.fa-3x
        h5 This Cool Title Here
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt architecto ratione inventore nisi, rem animi eaque harum obcaecati veritatis laborum cum! Placeat quidem, vero enim reprehenderit iure, minus similique dicta hic unde minima nisi? Molestias quaerat optio ut doloribus odit.
        a.more(href="#") Read More

      .col-3
        i.fas.fa-headphones.fa-3x
        h5 This Cool Title Here
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt architecto ratione inventore nisi, rem animi eaque harum obcaecati veritatis laborum cum! Placeat quidem, vero enim reprehenderit iure, minus similique dicta hic unde minima nisi? Molestias quaerat optio ut doloribus odit.
        a.more(href="#") Read More

      .col-3
        i.far.fa-clock.fa-3x
        h5 This Cool Title Here
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt architecto ratione inventore nisi, rem animi eaque harum obcaecati veritatis laborum cum! Placeat quidem, vero enim reprehenderit iure, minus similique dicta hic unde minima nisi? Molestias quaerat optio ut doloribus odit.
        a.more(href="#") Read More

      .col-3
        i.far.fa-heart.fa-3x        
        h5 This Cool Title Here
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt architecto ratione inventore nisi, rem animi eaque harum obcaecati veritatis laborum cum! Placeat quidem, vero enim reprehenderit iure, minus similique dicta hic unde minima nisi? Molestias quaerat optio ut doloribus odit.
        a.more(href="#") Read More
