section.feature-7
  h2 We Love What We Do
  .container
    .row
      .col-6
        .row
          .col-1
            i.far.fa-clock.fa-3x
          .col-11
            h4 Smooth & Fluent
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime dolores doloribus minus. Aspernatur temporibus.
        .row
          .col-1
            i.far.fa-star
          .col-11
            h4 Smooth & Fluent
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime dolores doloribus minus. Aspernatur temporibus.
        .row
          .col-1
            i.fas.fa-headphones.fa-3x
          .col-11
            h4 Smooth & Fluent
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime dolores doloribus minus. Aspernatur temporibus.
        
      .col-6
        img(src="https://source.unsplash.com/random/490x300", alt="Image")
    