section.feature-10
  h2.text-center We Love What We Do
  .container
    .row
      .col-6
        .row
          .col-6
            img(src='https://source.unsplash.com/random/250x150', alt='image')
          .col-6
            h4 Title Goes Here
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quaerat ipsum sed repudiandae.
            a.more(href="#") Read More
        .row
          .col-6
            img(src='https://source.unsplash.com/random/250x150', alt='image')
          .col-6
            h4 Title Goes Here
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quaerat ipsum sed repudiandae.
            a.more(href="#") Read More
      .col-6
      
