section.feature-8
  h2 We Love What We Do!!
  .container-fluid
    .row
      .col-6.bgcolor
        h4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum fuga, quasi ipsam excepturi maxime saepe ad deleniti, optio totam at illum? Totam id optio hic natus sunt repudiandae officiis minus qui adipisci itaque? Quasi, sequi.
  
      .col-6.img-bg
       

        