section.feature-4
  
  .overlay-img
    h2 We Love What We Do
    .row
      .col-6.offset-3
        h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quo itaque beatae maxime corporis qui.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, odio. Officiis, maiores eligendi? In veritatis esse sapiente eos accusantium eius? Sed, nostrum reprehenderit hic quaerat natus similique expedita vel eius incidunt laboriosam architecto, voluptate veritatis deleniti, doloribus libero nobis tenetur.