section.feature-1
  h2 We Love What We do!!
  .container
    .row
      .col-12.text-center 
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodincididunt ut labore et dolore.
      .col-sm.text-center
        i.far.fa-star.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      .col-sm.text-center
        i.fa.fa-headphones.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      .col-sm.text-center
        i.far.fa-clock.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
      .col-sm.text-center
        i.far.fa-heart.fa-3x
        h4 Title Goes Here
        p Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
