section.feature-3
  h2.text-center We Love What We do
  .container
    .row
      .col-6
        h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illum omnis, ab ut commodi possimus itaque praesentium officiis architecto. Magni.
        .row
          .col-6.text-center
            i.far.fa-clock.fa-2x
            h4 Smooth And Fluent
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, iste recusandae? 
          .col-6.text-center
            i.far.fa-heart.fa-2x
            h4 Smooth And Fluent
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, iste recusandae? 
      .col-6
        img(src='https://source.unsplash.com/random/550x350')