section.feature-5
  h2 We Love What We Do
  .container
    .row
      .col-sm-6
        img.placeholder
        h3 Text Here
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, veritatis, quibusdam? Nam quisquam quae corporis ipsam aut voluptates provident enim dolore, officiis quis dolor dolorem quod eaque illo odit fugit fuga earum nobis asperiores! At.
        .empty-button Read More 
        
      .col-sm-6
        img.placeholder-1
        h3 Text Here
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere fugit facilis eveniet, magni mollitia esse maxime rem, libero quidem molestiae tempore. Quod tempora voluptatum laboriosam illum explicabo, nihil ratione ut saepe possimus deleniti natus.
        .empty-button Read More
