
section.feature-9
  .container
    .row
      h2 We Love What We Do
      .col-sm-6
        .light-bg
          h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          p ipsum dolor sit amet, consectetur adipisicing elit. Sit porro tempora doloremque velit quis neque maiores dolorum, beatae culpa, deserunt ut magnam reiciendis rerum facilis, sint soluta quod a ad ratione. Numquam expedita vel quaerat consectetur eligendi fuga ipsa pariatur voluptate. Minus doloremque ratione autem exercitationem ad sequi ut ab.
        .more-button Read More
