section.feature-2
  h2 We Love What We Do
  .container
    .row
      .col-xl-6
        h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eos, incidunt velit labore commodi iusto, culpa possimus porro minima saepe quam molestias voluptatibus officia inventore? 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perferendis vitae necessitatibus? Cum quaerat ipsum fugit quis reprehenderit necessitatibus ipsa pariatur eum ullam minima beatae nesciunt quia modi ad voluptatibus aliquid impedit tempora, iusto minus quibusdam! Natus incidunt suscipit omnis magnam perspiciatis itaque, qui repellendus?


      .col-lg-6
        .row
          .col-sm-6.text-center
            i.far.fa-star.fa-3x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in laboriosam.
          
          .col-sm-6.text-center
            i.fa.fa-headphones.fa-3x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in laboriosam.
          
          .col-sm-6.text-center
            i.far.fa-clock.fa-3x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in laboriosam.
          
          .col-sm-6.text-center
            i.far.fa-heart.fa-3x
            h4 Title Goes Here
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam in laboriosam.
          
