// main: ../style.scss

body {
  line-height: 1.5;
}


a {
  color: $link-color
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.f-left {
  float:left;
}
// Fix for Bootstrap no gutters
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.padt-20 {
  padding-top: 20px;
}
section {
  padding: 50px 0 60px 0;
}

section > h2 {
  @include primary-hdr;
}
h3, h4 {
  line-height: 1.7em;
  margin-top: 0;
}
