
// BASE STYLES
@mixin bgcolor ($bgc) {
  background-color: $bgc;
}
@mixin primary-hdr {
    color: $primary;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}
@mixin light-white-bg {
  background-color: rgba(255, 255, 255 , 0.8);
  padding: 1px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
@mixin icon-bg($bgc, $p, $br, $c) {
  background-color: $bgc;
  padding: $p;
  border-radius: $br;
  color: $c;
}
// =======================


@mixin img-bg ($imgpath, $h, $w, $bg-size, $repeat:no-repeat) {
  height: $h;
  width: $w;
  background: {
    image: url($imgpath);
    size: $bg-size;
    repeat: $repeat;
  }
}
@mixin more-button ($bgc, $txtc) {
  background-color: $bgc;
  border-radius: 4px;
  padding: 12px 35px;
  color: $txtc;
  font-weight: bold;
  display: inline-block;

}

@mixin empty-button ($border, $txtc, $hvrbg:teal, $hvrc:white) {
  border: 2px solid $border;
  padding: 12px 35px;
  font-weight: bold;
  display: inline-block;
  color: $txtc;
  text-transform: uppercase;
  &:hover {
    background-color: $hvrbg;
    color: $hvrc;
    // border: none;
    text-decoration: none;
  }
}
@mixin four-pic-grid ($float, $h, $w, $imgpath, $position, $repeat:no-repeat) {
  float: $float;
  height: $h;
  width: $w;
  margin: 0 15px 40px 0;
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

@mixin two-col-icon ($mt, $bgc, $c) {
  font-size: 30px;
  padding: 15px;
  border-radius: 30px;
  margin-top: $mt;
  background-color: $bgc;
  color: $c;
}
@mixin pic-grid ($float, $h, $w, $imgpath, $position, $repeat:no-repeat) {
  float: $float;
  height: $h;
  width: $w;
  margin: 0 15px 40px 0;
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}
// SERVICES
@mixin service-grid-icon ($bgc, $c, $mt, $p) {
  background-color: $bgc;
  color: $c;
  margin: $mt 0;
  padding: $p 5px;
  text-align: center;
  i.service-icon {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .empty-button {
    border-color: white;
    color: white;
    font-size: 16px;
    padding: 3px 30px;
    margin-top: 10px;
  }
  h4 {
    text-transform: uppercase;
    font-weight: normal;
  }
}
@mixin service-arrow-button {
  border: 3px solid white;
  color: white;
}
