// main: ../style.scss

@mixin primary-hdr {
  color: $primary;
  margin-bottom: 50px;
  text-align: center;
}

@mixin icon-bg {
  background-color: $primary;
  padding: 10px;
  border-radius: 30px;
}
@mixin two-col-pic {
  h2 {
    @include primary-hdr;
  }
  h3 {
    line-height: 1.7;
  }
  .col-xs-6 i h3 {
    text-transform: capitalize;
  }
  img {
    max-height:300px;
    margin-top: 25px;
  }
  .fa {
    text-align: center;
  }
}
@mixin img-bg ($imgpath,$bg-size,$repeat:no-repeat) {
  background: {
    image: url($imgpath);
    size: $bg-size;
    repeat: $repeat;
  }
  h2{
    @include primary-hdr;
  }
}
@mixin more-button ($bgc, $txtc) {
  background-color: $bgc;
  border-radius: 4px;
  padding: 12px 35px;
  color: $txtc;
  font-weight: bold;
  display: inline-block;

}

@mixin empty-button ($border, $txtc) {
  border: 2px solid $border;
  padding: 12px 35px;
  font-weight: bold;
  display: inline-block;
  color: $txtc;
  text-transform: uppercase;
}
@mixin four-pic-grid ($float, $h, $w, $imgpath, $position, $repeat:no-repeat) {
  float: $float;
  height: $h;
  width: $w;
  margin: 0 15px 40px 0;
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}
