$primary: teal;
$secondary: gold;
$black: #222;

$service-blue: #003058;
$service-light-blue: #01A0D8;
$service-orange: #EE945F;
$service-light-green: #00E099;

$link-color: $primary;
$link-hover: darken($link-color, 5%);
