extends templates/main-temp
include partials/mixins/mixins.pug

block title
  | Cool Website

block content
  //include partials/headers/header-1.pug
  
  include partials/features/feature-1.pug
  include partials/features/feature-2.pug
  include partials/features/feature-3.pug
  //include partials/features/feature-4.pug
  //include partials/features/feature-5.pug
  //include partials/features/feature-6.pug
  //include partials/features/feature-7.pug
  //include partials/features/feature-8.pug
  //include partials/features/feature-9.pug
  //include partials/features/feature-10.pug
  //include partials/features/feature-11.pug
  //include partials/features/four-grid.pug
  //include partials/features/four-pic-grid.pug
  //include partials/features/two-col-text-pic.pug
  //include partials/features/service-1.pug
